<!DOCTYPE html>
<html class="" lang="zh-cmn-Hans" style="position: static;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="有赞,移动电商服务平台">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="cleartype" content="on">
  <meta name="referrer" content="always">
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <title>购物车</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body class=" body-fixed-bottom" style="">
  <div class="container " style="min-height: 581px;">
    <div class="content clearfix js-page-content">
      <div id="cart-container">
        <div>

          <div class="js-shop-list shop-list">
            <div class="block block-order block-cart" v-for="(shop,shopIndex) in cartlist" v-if="!shop.deleta">
              <div class="header">
                <div class="select-group js-select-group" @click="shopchecked(shop)">

                  <span class="check" :class="{checked:shop.shopchecked}"></span></div> <a class="shop-title"><i
                    class="custom-store-img">店铺：</i>{{shop.shoptitle}}</a>
                <a @click="edting(shop)" href="javascript:;" data-type="cart"
                  class="j-edit-list pull-right c-blue font-size-12 edit-list">

                 {{shop.edtingtext}}
                </a>
              </div>

              <div>
                <ul class="js-list block block-list block-list-cart border-0">
                  <!-- editing -->
                  <li class="block-item block-item-cart" 
                  :class="{editing:shop.edting}" 
                  v-for="(list,listIndex) in shop.goodslists" 
                  v-if="!list.deleta"
                  @touchstart="start($event,list)"
                  @touchend="end($event,list,listIndex,shopIndex)"
                  :ref="'lists-'+shopIndex +'-'+listIndex"
                  >
                    <div>
                      <div class="check-container" @click="goodchecked(list, shop)">

                        <span class="check " :class="{checked:list.goodchecked}"></span></div>
                      <div class="name-card clearfix">
                        <a href="https://h5.youzan.com/v2/showcase/goods?alias=1y7n2wi58q1as"
                          class="thumb js-goods-link"><img class="js-lazy" :src="list.img">

                        </a>
                        <div class="detail"><a href="https://h5.youzan.com/v2/showcase/goods?alias=1y7n2wi58q1as"
                            class="js-goods-link">
                            <h3 class="title js-ellipsis"><i>{{list.sku}}</i></h3>
                          </a>
                          <p class="sku ellipsis">
                            4500g-5000g
                          </p>
                          <div class="num" v-show="!shop.edting">
                            ×<span class="num-txt">{{list.number}}</span>
                          </div>

                          <!-- 编辑状态 -->
                          <div class="num" v-show="shop.edting">
                            <!---->
                            <div class="quantity">
                              <button type="button" class="minus" :class="{disabled:list.number < 2}"></button>
                              <input type="text" pattern="[0-9]*" class="txt" v-model="list.number" value="list.number">
                              <button type="button" class="plus "></button>
                              <div class="response-area response-area-minus" @click="addNum(-1,list)"></div>
                              <div class="response-area response-area-plus" @click="addNum(1,list)"></div>
                            </div>
                          </div>

                          <div class="price c-orange">
                            ¥<span>{{list.price}} </span></div>
                        </div>
                        <div class="error-box"></div>
                      </div>
                      <div class="delete-btn" @click="deletelist(list,shop)"><span>删除</span></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div style="padding:0;" class="js-bottom-opts bottom-fix">

            <div class="bottom-cart clear-fix">
              <div class="select-all" @click="allcheck"><span class="check" :class="{checked:allchecked}"></span> 全选
              </div>
              <!-- 显示状态 -->
              <div class="total-price">
                合计：¥<span class="js-total-price" style="color: rgb(255, 102, 0);">{{totaltotlaPrice.totlaPrice}}</span>
                <p class="c-gray-dark">不含运费</p>
              </div>
              <button href="javascript:;" class="js-go-pay btn btn-orange-dark font-size-14" @click="postgood(totaltotlaPrice.checkArr)" >
                结算 ({{totaltotlaPrice.goodlenght}})
              </button>
              <!-- 编辑状态 -->
              <button href="javascript:;" disabled="disabled"   style="display: none;" class="j-delete-goods btn font-size-14 btn-red">删除
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
